{{!< default}}

{{>main-header}}

<div id="cf">
  <div class="cf-title">
    <h1> CHAPEL HILL COMMUNITY CHURCH </h1>
    <div class="container">
      <p>SUNDAY GATHERING</p>
      <p>10am</p>
      <p>2 Cate Road </p>
      <p>Rototuna </p>
    </div>
  </div>

  <img src="/assets/images/aaron-burden-651693-unsplash.jpg" />
  <img src="/assets/images/alex-blajan-487679-unsplash.jpg" />
  <img src="/assets/images/priscilla-du-preez-697316-unsplash.jpg" />
</div>

<div class="events">
  <h1>Next Events</h1>
  {{#get "posts" filter="tag:events" limit="3" as |event| }}
  <div class="event-wrapper">
    {{#foreach event}}
    <div class="event">
      <a class="link" href={{ url }}>
        <div class="title">{{title}}</div>
        <p>{{ excerpt words="15" }} </p>
        <p></p>
      </a>
    </div>
    {{/foreach}}
  </div>
  {{/get}}
</div>