{{!< default}}

{{>main-header}}

<div id="cf">
  <div class="cf-title">
    <h1> CHAPEL HILL COMMUNITY CHURCH </h1>
    <div class="container">
      <p>SUNDAY GATHERING</p>
      <p>10am</p>
      <p>2 Cate Road </p>
      <p>Rototuna </p>
    </div>
  </div>

  <img src="/assets/images/aaron-burden-651693-unsplash.jpg" />
  <img src="/assets/images/alex-blajan-487679-unsplash.jpg" />
  <img src="/assets/images/priscilla-du-preez-697316-unsplash.jpg" />
</div>

<main class="content post-list" id="content">
  {{!-- The tag below includes the post loop - partials/loop.hbs --}}
  {{> "loop"}}
</main>