/* Table of Contents
/* ------------------------------------------------------------
This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css
Using Normalize.css from: https://yarnpkg.com/en/package/normalize.css to
level the playing field.

1.  Global Styles
2.  Navigation
3.  Site Header
4.  Index
  4.1 Hero
  4.2 Next Events
  4.3 Ministries

--- More entries here.
5.  Site Navigation
6.  Post Feed
7.  Single Post
  7.1. Subscribe Form
  7.2. Post Footer
     7.2.1 Single Author Byline
     7.2.2 Multiple Author Byline
  7.3. Comments
  7.4. Related Posts
  7.5. Floating Header
8.  Author Template
9.  Error Template
10. Subscribe Overlay
11. Site Footer
*/

/* 1. Global - Set up the things
/* ---------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Raleway';
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 2.0rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
}


/* 2. Navigation
/* ---------------------------------------------------------- */

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

ul[role=menu] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

li[role=menuitem] {
  list-style-type : none;
  margin-left: 5px;
}

nav ul li a {
  color: black;
  padding: 7px 14px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li a:hover {
  border: 1px solid black;
}

/* 4. Index Page  */
/* 4.1 Hero  */
/* ---------------------------------------------------------- */

#hero {
  position: relative;
  width: 100%;
  padding-bottom: 62.5%;
}

#hero img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hero img {
  animation-name: heroFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 13s;
}

@keyframes heroFadeInOut {
  0% {
    opacity:1;
  }
  33% {
    opacity:1;
  }
  43% {
    opacity:0;
  }
  93% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#hero img:nth-of-type(1) {
  animation-delay: 12s;
}
#hero img:nth-of-type(2) {
  animation-delay: 8s;
}
#hero img:nth-of-type(3) {
  animation-delay: 4s;
}
#hero img:nth-of-type(4) {
  animation-delay: 0;
}

.hero-title {
  position: absolute;
  color: white;
  z-index: 500;
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title h1 {
  font-size: 2.4rem;
  justify-content: center;
}

.hero-title .container {
  display: block;
  text-align: center;
}

.hero-title p {
  font-size: 2rem;
  margin: 0 auto;
}

/* 4.2 Next Events  */
/* ---------------------------------------------------------- */

.events {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}

.events .event-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}

.events .event {
  display: flex;
  flex: 1;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  border-left: 2px solid grey;
  padding: 10px;
  text-align: center; 
}

.events .event:first-child {
  border-left: none;
}
.events .event .title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
}

.events .event .link {
  color: black;
  display:flex;
  text-decoration: none;
  cursor:pointer;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height:100%;
}

.events .event .link p {
  font-size: 1.4rem
}

/* 4.3 Ministries  */
/* ---------------------------------------------------------- */

.ministries {
  margin-bottom: 50px;
}

.ministries .ministry-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.ministries .ministry .title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.ministries .ministry {
  text-align: center;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 20px 40px;
  min-height: 300px;
  background: #fff center center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
  transition: all 0.5s ease;
}

.ministry:hover {
  box-shadow: rgba(39,44,49,0.07) 8px 28px 50px, rgba(39, 44, 49, 0.04) 1px 6px 12px;
  transition: all 0.4s ease;
  transform: translate3D(0, -1px, 0) scale(1.02);
}

.ministry-card-image-link {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.ministry-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ministries .ministry p {
  font-size: 1.6rem;
}

.site-footer {
  text-align: center;
}

/* IMAGE WIDTH STYLES */
/* ================== */

/* Style at will... */
/* figure.kg-width-full { } */
/* figure.kg-width-wide { } */
/*
PROTIP:
Try something like as a starting point for centering images that are wider than their parent container's width:

.full-bleed {
	  width: 100vw;
	  position: relative;
	  left: 50%;
	  right: 50%;
	  margin-left: -50vw;
	  margin-right: -50vw;
	}

For large images that aren't full width, but are larger than their parent, just replace 100vw with your max width (say, 1000px), and then replace the -50vw margins with -{NUM}px / 2 (in this case, -500px). You can see a version of this techinique in action in the stylesheet of my MNML Ghost theme:
https://github.com/curiositry/mnml-ghost-theme
*/

/* IMAGE GALLERY STYLES */
/* ==================== */

/* Style at will... */
/* .kg-gallery-card { } */
/* .kg-gallery-container { } */
/* .kg-gallery-row { } */
/* .kg-gallery-image { } */

/*
Docs can be found here: http://themes.ghost.org/docs/ghost-editor#section-gallery-card

The implementation that Ghost recommends is pretty robust, with one caveat: it needs a few lines of JavaScrpt. Example can be found here:
https://github.com/TryGhost/Casper/pull/475/files#diff-ce5e030f2e2e2a50f18199464f07ea70
*/


figcaption {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
