/* Put your styles (or personal collection of CSS frameworks) here */

body {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  font-family: 'Raleway';
}

img {
  max-width: 100%;
}

figure {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  justify-content: flex-end;
  z-index: 100;
}

ul[role=menu] {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

li[role=menuitem] {
  list-style-type : none;
  margin-left: 5px;
}

nav ul li a {
  border: 1px solid transparent;
  background-color: transparent;
  color: white;
  padding: 7px 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

nav ul li a:hover {
  border: 1px solid white;
}

#cf {
  position: relative;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

#cf img {
  position: absolute;
  height: 500px;
  width: 800px;
  left: 0;
}

#cf img {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 13s;
}

@keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  33% {
    opacity:1;
  }
  43% {
    opacity:0;
  }
  93% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf img:nth-of-type(1) {
  animation-delay: 12s;
}
#cf img:nth-of-type(2) {
  animation-delay: 8s;
}
#cf img:nth-of-type(3) {
  animation-delay: 4s;
}
#cf img:nth-of-type(4) {
  animation-delay: 0;
}

.cf-title {
  position: absolute;
  color: white;
  z-index: 500;
  margin-top: 75px;
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cf-title h1 {
  font-size: 24px;
  justify-content: center;
}

.cf-title .container {
  display: block;
  text-align: center;
}

.cf-title p {
  font-size: 20px;
  margin: 0 auto;
}


/* IMAGE WIDTH STYLES */
/* ================== */

/* Style at will... */
/* figure.kg-width-full { } */
/* figure.kg-width-wide { } */
/*
PROTIP:
Try something like as a starting point for centering images that are wider than their parent container's width:

.full-bleed {
	  width: 100vw;
	  position: relative;
	  left: 50%;
	  right: 50%;
	  margin-left: -50vw;
	  margin-right: -50vw;
	}

For large images that aren't full width, but are larger than their parent, just replace 100vw with your max width (say, 1000px), and then replace the -50vw margins with -{NUM}px / 2 (in this case, -500px). You can see a version of this techinique in action in the stylesheet of my MNML Ghost theme:
https://github.com/curiositry/mnml-ghost-theme
*/

/* IMAGE GALLERY STYLES */
/* ==================== */

/* Style at will... */
/* .kg-gallery-card { } */
/* .kg-gallery-container { } */
/* .kg-gallery-row { } */
/* .kg-gallery-image { } */

/*
Docs can be found here: http://themes.ghost.org/docs/ghost-editor#section-gallery-card

The implementation that Ghost recommends is pretty robust, with one caveat: it needs a few lines of JavaScrpt. Example can be found here:
https://github.com/TryGhost/Casper/pull/475/files#diff-ce5e030f2e2e2a50f18199464f07ea70
*/


figcaption {
  text-align: center;
}

.inline-block {
  display: inline-block;
}
